* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Helvetica", sans-serif;
  font-size: 27px;
}

.container {
  background-color: white;
  font-size: 25px;
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

input {
  height: 60px;
  width: 90%;
  border-radius: 10px;
  font-size: 20px;
}

.calbutton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  width: 90%;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

.Total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
